#navbaritem {
  float: left;
}
#navbartext {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbaritem {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar {
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
span {
  font-family: sans-serif;
}
