.navbaritem {
  float: left;
  list-style-type: none;
}
.navbartext {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbaritem {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar {
  background-color: #bbb;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
span {
  font-family: sans-serif;
}
